/*ul.css-menu-1 {
	position: relative;
	float: left;
	left: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.css-menu-1 li {
	display:inline-block;
	position: relative;
	float: left;
	right: 50%;
	padding: 10px;
}

ul.css-menu-1 li a {
	font-family: Tahoma, Geneva, sans-serif; 
	text-decoration: none;
	background: #5c6cb7;
	font-weight: bold;
	color: #ffaa00; 
	padding: 6px 10px 6px 10px;
}

ul.css-menu-1 li a:hover {
	padding: 6px 10px 6px 10px;
	font-weight: bold;
	background: #364d95;
	color: #ff9900;
}

ul.css-menu-1 li a.selected {
	background: #364e95;
}*/

#osnova {
	/*position:absolute;*/
	width: 810px;
}
#obertka {
	position:relative;
	width: 810px;
	text-align: center;
}
ul {
	list-style: none;
	padding-left: 0px;
}
li {
	display: inline-block;
}
li a {
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	background: #5c6cb7;
	font-weight: bold;
	color: #ffaa00; 
	padding: 6px 10px 6px 10px;
}
li a:hover {
	padding: 6px 10px 6px 10px;
	font-weight: bold;
	background: #364d95;
	color: #ff9900;
}
body {
	margin-left:20%;
	margin-right:20%;
	background: #FFE4C4;
}
menu {
	text-align: center;
}
