.input-file-wrap {
	width: 100px;
	height: 26px;
	overflow: hidden;
	position: relative;
	border: 1px solid #798FA6;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.input-file-imitator {
	width: 100px;
	height: 26px;
	line-height: 26px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 7px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background: #BDF;
	color: #434F5C;
}
.input-file-wrap input {
	position: absolute;
	z-index: 2;
	opacity: 0;
	filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	width: 500px;
	height: 500px;
	font-size: 500px;
	top: -10px;
	left: -10px;
}
.input-file-wrap input:hover {
	cursor: pointer;
}

.input-file-wrap:hover 
.input-file-imitator {
	background: #D7EBFF;
	cursor: pointer;
}